# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
*                 text=auto encoding=UTF-8

#
# The above will handle all files NOT found below
#

# Source code
*.cs              text diff=csharp
*.css             text diff=css
*.coffee          text
*.cshtml          text diff=html
*.gradle          text diff=java
*.gradle.kts      text diff=java
*.htm             text diff=html
*.html            text diff=html
*.inc             text
*.ini             text
*.java            text diff=java
*.js              text
*.jsx             text
*.less            text
*.ls              text
*.map             text -diff
*.od              text
*.onlydata        text
*.php             text diff=php
*.pl              text
*.py              text diff=python
*.rb              text diff=ruby
*.sass            text
*.scm             text
*.scss            text diff=css
*.sql             text
*.styl            text
*.tag             text
*.ts              text
*.tsx             text
*.xhtml           text diff=html

# Compiled code
*.class           binary
*.dll             binary
*.ear             binary
*.jar             binary
*.so              binary
*.war             binary

# Documentation
*.csv             text
*.markdown        text
*.md              text
*.mdwn            text
*.mdown           text
*.mkd             text
*.mkdn            text
*.mdtxt           text
*.mdtext          text
*.pdf             binary
*.txt             text
AUTHORS           text
CHANGELOG         text
CHANGES           text
CONTRIBUTING      text
COPYING           text
copyright         text
*COPYRIGHT*       text
INSTALL           text
license           text
LICENSE           text
NEWS              text
readme            text
*README*          text
TODO              text

# RC files (like .babelrc or .eslintrc)
*.*rc             text

# Ignore files (like .npmignore or .gitignore)
*.*ignore         text

#  Templates
*.dot             text
*.ejs             text
*.haml            text
*.handlebars      text
*.hbs             text
*.hbt             text
*.jade            text
*.latte           text
*.mustache        text
*.njk             text
*.phtml           text
*.tmpl            text
*.tpl             text
*.twig            text
*.vue             text

# Configs
*.cnf             text
*.conf            text
*.config          text
.editorconfig     text
.env              text
.gitattributes    text
.gitconfig        text
.htaccess         text
*.lock            text -diff
package-lock.json text -diff
*.toml            text
*.yaml            text
*.yml             text
*.json            text
*.properties      text
*.xml             text
browserslist      text
Makefile          text
makefile          text

# Fonts
*.eot             binary
*.otf             binary
*.ttf             binary
*.woff            binary
*.woff2           binary

# Graphics
*.ai              binary
*.bmp             binary
*.eps             binary
*.gif             binary
*.gifv            binary
*.ico             binary
*.jng             binary
*.jp2             binary
*.jpg             binary
*.jpeg            binary
*.jpx             binary
*.jxr             binary
*.png             binary
*.psb             binary
*.psd             binary
*.svg             text
*.svgz            binary
*.tif             binary
*.tiff            binary
*.wbmp            binary
*.webp            binary

# Audio
*.kar             binary
*.m4a             binary
*.mid             binary
*.midi            binary
*.mp3             binary
*.ogg             binary
*.ra              binary

# Video
*.3gpp            binary
*.3gp             binary
*.as              binary
*.asf             binary
*.asx             binary
*.fla             binary
*.flv             binary
*.m4v             binary
*.mng             binary
*.mov             binary
*.mp4             binary
*.mpeg            binary
*.mpg             binary
*.ogv             binary
*.swc             binary
*.swf             binary
*.webm            binary

# Scripts
*.bash            text eol=lf
*.fish            text eol=lf
*.sh              text eol=lf
*.bat             text eol=crlf
*.cmd             text eol=crlf
*.ps1             text eol=crlf

# Archives
*.7z              binary
*.gz              binary
*.jar             binary
*.rar             binary
*.tar             binary
*.zip             binary

# Executables
*.exe             binary
*.pyc             binary

# Docker
Dockerfile        text

# Heroku
Procfile          text
