### Backups ###
*.bak
*.gho
*.ori
*.orig
*.tmp

### Diffs ###
*.diff
*.patch

### Gradle ###
!gradle-wrapper.jar
!src/**/build/
.gradle
.gradletasknamecache
**/build/
gradle-app.setting

### Java ###
.mtj.tmp/
*.class
*.ctxt
*.ear
*.jar
*.nar
*.rar
*.tar.gz
*.war
*.zip
hs_err_pid*

### Node ###
.cache
.cache/
.env
.env.test
.eslintcache
.next
.npm
.nuxt
.parcel-cache
.pnp.*
.vscode-test
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
build/Release
coverage
dist
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out
pids
public
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
web_modules/
yarn-debug.log*
yarn-error.log*

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### Windows ###
[Dd]esktop.ini
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
$RECYCLE.BIN/
ehthumbs_vista.db
ehthumbs.db
Thumbs.db
Thumbs.db:encryptable

### Visual Studio Code ###
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.history/
.vscode/*
*.code-workspace

### JetBrains ###
.idea/*.iml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/artifacts
.idea/compiler.xml
.idea/httpRequests
.idea/jarRepositories.xml
.idea/modules
.idea/modules.xml
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
out/

### Eclipse ###
.apt_generated
.apt_generated/
.autotools
.buildpath
.cache-main
.classpath
.cproject
.externalToolBuilders/
.factorypath
.loadpath
.metadata
.project
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.sts4-cache/
.target
.tern-project
.texlipse
.worksheet
*.bak
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
bin/
local.properties
tmp/
